{% extends 'store/home.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>TheCozyLounge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
         <div class="row">
            {% if products %}
                {% for product in products %}
                    <!-- Three products in a row -->
                    <div class="col-lg-4 mb-4">
                        <img class="thumbnail img-fluid" src="{{ product.imageURL }}" alt="{{ product.b_title }}">
                        <div class="box-element product">
                            <h6><strong>{{ product.b_title }}</strong></h6>
                            <hr>
                            <div style="display: flex; gap: 1em; justify-content: space-between;">
                                <div>
                                    <button data-product="{{ product.id }}" data-action="add" 
                                        class="btn btn-outline-secondary add-btn update-cart">
                                        Add to Cart
                                    </button>
                                    <a class="btn button-S view-details" href="{% url 'view' product.id %}">View</a>
                                </div>
                                <h4><strong>${{ product.b_price }}</strong></h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info text-center" role="alert">
                    No products found. Try searching for something else!
                </div>
            {% endif %}
        </div>
</body>
</html>
{% endblock content %}